# Claude
.claude/

# .NET
**/bin/
**/obj/
**/*.user
**/.vs/

# Angular
**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/coverage/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.suo
*.swp

# OS
.DS_Store
Thumbs.db
